.totalContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    margin: 20px;
}
.Container{
    margin-top: 30px;
}
.Container h1{
    color: white;
}
.Button{
    background-color: #c34a36;
    color: white;
    border-radius: 3px;
    width: 100px;
    border: 0px;
}

.GoBack {
    color: white;
    padding: 2px;
    margin-top: 10px;
}
.GoBack:hover{
    cursor: pointer;
    scale: 1.1;
    box-shadow: #19161b;
}

.Button:hover{
    scale: 1.1;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.493);
}

.checkout{
    background-color: rgb(27, 110, 45);
    color: white;
    border-radius: 3px;
    width: 100px;
    border: 0px;
    margin: 5px;
}

.checkout:hover{
    scale: 1.1;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.493);
}

.DivForm{
    margin: 10px;
}

.hrLines {
    border: 1px solid rgb(255, 255, 255); width: 30%;
    margin: 10px 0px 10px 0px;
}
