.divContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width:  100%;
    gap: 24px;
}


.divContainer .CardItem {
    background-color: rgb(39, 39, 39);
    max-width: 300px;
    width: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    text-align: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 16px;
    padding-bottom: 10px;
    height: 630px;
    
}

.divContainer .CardItem figure{
    height: 500px;
    object-fit: contain;
}

.divContainer .CardItem figure img{
    width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.CardItem figure:hover img {
    transform: scale(1.5);
}
.divContainer figure {
    overflow: hidden;
}
.ItemInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.Info {
    padding: 2px;
}

.ItemImg{
    width: 80%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
}

.BotonDetalles{
    background-color: #c34a36;
    color: white;
    border-radius: 3px;
    margin-top: 50px;
    padding: 2px;
    margin-bottom: 10px;
    width: 100px;
    border: 0px;
}

.BotonDetalles:hover{
    cursor: pointer;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.301);
}

/*media queries*/
@media (max-width: 1024px) {
    .divContainer .CardItem{
        height: 480px;
        font-size: 15px;
    }

    .divContainer .CardItem .ImgContainer {
        height: 350px;
        width: 200px;
    }
}

@media (max-width: 425px) {

    
    .divContainer .CardItem{
        height: 430px;
        font-size: 15px;
        margin-bottom: 20px;
        width: 170px;
    }
    .divContainer .CardItem .ImgContainer {
        height: 300px;
    }
}

@media (max-width: 375px){
    .divContainer .CardItem{
        font-size: 13px;
        margin-bottom: 20px;
        width: 145px;
    }
}

@media (max-width: 350px){
    .divContainer .CardItem{
        font-size: 13px;
        margin-bottom: 20px;
        width: 100%;
    }

    .divContainer .CardItem .ImgContainer {
        height: 310px;
        margin-bottom: 5px;
    }
}