

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.OrderId{
    padding: 10px;
}

.GoBack{
    background-color: #c34a36;
    padding: 1px;
    border-radius: 3px;
}

.GoBack:hover{
    scale: 1.1;
    box-shadow: #19161b;
}