.ListContainer {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;

}

.ItemListContainer{
    flex: 2;
    gap: 30px;
    row-gap: 20px;
}

.RandomImg{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    height: 100vh;
    overflow: hidden;
    border-radius: 0px 70px 120px 40px;
}

.RandomImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

/*media queries*/
@media (max-width: 1024px) {
    .ListContainer{
        display: flex;
        flex-direction: column-reverse;
    }
    .RandomImg{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 40px 40px 0px 0px;
    }
}

@media (max-width: 425px){
    .ListContainer{
        padding: 0;
        margin: 0;
    }

    .RandomImg{
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 14px 10px 0 14px;
        width: 414px;
    }
}