
.logoImg{
    width: 70px;
}
.navBarr{
    color: white;
    font-size: 18px;
    background-color: #333;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.categories{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 425px){
    .logoImg{
        width: 50px;
    }
}