.CartItem{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin: 10px;
    display: flex;
    flex-direction: row;
}
.CartDetailItem{
    display: flex;
    gap: 10px;
    margin: 0px 10px 0px 10px;
}

.CartItem figure{
    width: 100px;
    height: 120px;
    
    
}
.cartImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.removeItem{
    background-color: #c34a36;
    color: white;
    padding: 2px;
    border-radius: 3px;
    border: 0px;
}

.removeItem:hover{
    scale: 1.1;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.493);
}