

.contador{
    display: flex;
    flex-direction: column;
}
.controles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.boton{
    background-color: brown;
    color: white;
    border-radius: 3px;
    border: 0px;
    padding: 3px;
    margin: 3px;
}

.boton:hover{
    scale: 1.1;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.493);
}