*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

.ListGroup{
    color: white;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    border-radius: 10px;
    padding-bottom: 100px;
    padding-top: 30px;
}